.desing-main{
    max-width: 1200px;
    height: 100%;
    margin: auto;
}
.subi__tu__diseno__contenedor{
    display: grid;
    width: clamp(400px 50% 1200px);
    height: 600px;
    background-color: rgba(255, 255, 255, 0.568);
    text-align: center;
    align-items: center;
    outline:dotted rgb(151, 235, 247) 5px;
    border-radius: 5%;
    font-family: $font-Uchen;
    font-weight: 400;
}
.desing-btn{
    justify-self: center;
    text-decoration: none;
    text-align: center;
    padding: 15px 32px;
    background-color: rgba(149, 181, 223, 0.986);
    color: white;
    font-size: map-get($fuentes , small );
    font-family: $font-principal;
    display: flex;
    border: 2px solid white;
}
