.desing-main{
    width: 100%;
    height: 100%;
}
.subi__tu__diseno__contenedor{
    display: grid;
    margin: 200px 0 200px 20%;
    width: 1200px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.568);
    text-align: center;
    align-items: center;
    outline:dotted rgb(151, 235, 247) 5px;
    border-radius: 5%;
}
.desing-btn{
    justify-self: center;
    text-decoration: none;
    text-align: center;
    padding: 15px 32px;
    background-color: rgba(149, 181, 223, 0.986);
    color: white;
    font-size: map-get($fuentes , small );
    display: flex;
    border: 2px solid white;
}
