    /* Colors */
    $primary: #ACA0CD;
    $secondary: #E32727;
    $title-color: #FFFDD0;
    $header-footer: rgba(255, 255, 255, 0.411);

    /* Fonts */
    $font-title: 'Montserrat', sans-serif;
    $font-principal: 'Inter', sans-serif;

    /* Spacing */
    $spacing-xlarge: 10rem;
    $spacing-large: 6rem;
    $spacing-medium: 3rem;
    $spacing-small: 2rem;
    $spacing-xsmall: 1rem;

/* Font sizes */
    $fuentes:(
        large: 5.5em,
        medium: 1.8em,
        base: 1.5em,
        small: 1.3em,
    )
    